body{
  text-align:center;
}

.item{
  margin:5px;
  display:inline-block;
  width:200px;
  height:400px;
  overflow:hidden;
}
  .item img{
    max-height:200px;
  }

  .item .tags{
    font-style:italic;
    font-weight:bold;
  }
